html {
  background-color: antiquewhite;
  text-align: center;
}

.title {
  color: tomato;
}

.list {
  list-style: none;
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3; /*文字色*/
  background: #fff;
  border: solid 3px #6091d3; /*線*/
  border-radius: 10px; /*角の丸み*/
  width: 600px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
